<%= form_with(model: task, local: true) do |form| %>
<ul>
  <% flash.each do |name, msg| %>
  <% end %>
</ul>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :facts %>
    <%= form.text_area :facts, id: :task_facts %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments, id: :task_comments %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
