<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Facts:</strong>
  <%= @task.facts %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @task.comments %>
</p>

<p>
  <%= form_with url: task_assign_path(@task) do |form| %>
    <strong>Assign this Task:</strong>
    <%= form.select "user", options_from_collection_for_select(@users, 'id', 'username') %>
    <%= form.submit "Assign" %>
  <% end %>
</p>

<p>
  <%= form_with url: task_complete_path(@task) do |form| %>
    <strong>Completed this Task:</strong>
    <%= form.submit "Complete" %>
  <% end %>
</p>

<%= link_to 'Back', tasks_path %> |
<%= link_to 'Logout', logout_path, method: :delete%>
