<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Facts:</strong>
  <%= @task.facts %>
</p>

<%= link_to 'Back', tasks_path %> |
<%= link_to 'Logout', logout_path, method: :destroy%>
