<h1>New User Sign Up, Create Username and Password</h1>

<h2>Valid email format example@aol.com</h2>
<h2>Password must be at least 5 charachters.</h2>



<%= form_for @user do |f|%>

<%= f.label :email %><br>
<%= f.text_field :email %><br>

<%= f.label :username %><br>
<%= f.text_field :username %><br>

<%= f.label :password %><br>
<%= f.password_field :password %><br>

<%=f.label :password_confirmation, "Confirmation" %><br>
<%=f.password_field :password_confirmation %><br>

<%= f.submit "Join"%>

<%end%>
