<h2>New User Sign Up</h2>
<br>
<br>
<h1>Create Username and Password</h1>
<br>
<br>
<h1>Username should be your email</h1>

<%= form_for @user do |f|%>

<%= f.label :username%><br>

<%= f.text_field :username%><br>

<%= f.label :password%><br>

<%= f.password_field :password%><br>

<%= f.submit %>

<%end%>
