<h2>Thank you for creating your account, You can create a new task here!</h2>

Username: <h1> <%= current_user.username %> </h1>

Email: <h1> <%= current_user.email %> </h1>

<%= link_to 'Show Tasks', tasks_path(@task) %> |

<%= link_to 'New Task', new_task_path %> |

<%= link_to 'New Project', new_project_path(@project) %> |

<%= link_to 'Logout', logout_path, method: :delete%>
