<h2>New User Sign Up</h2>
<br>
<br>
<h1>Create Username and Password</h1>

<%= form_for @user do |f|%>

<%= f.label :email%><br>

<%= f.text_field :email%><br>

<%= f.label :password%><br>

<%= f.password_field :password%><br>

<%= f.submit %>

<%end%>


<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to “logout”, logout_path %>
<% else %>
  <%= link_to “signup”, signup_path %> or
  <%= link_to “Login”, login_path %>
<% end %>
